body{
    background-color:  #212121;
    color: #f0670c;
    
}
fieldset{
    margin: 2em 0;
    border: solid 1px black;
    padding: 1em 2em;
    border-radius: 6px;
    min-width: 200px;
}
label{
    display: block;
    /* margin-top: 0; */
}
button{
    color: #f0670c;
    display: block;
    
}
